<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fly_away_webproject</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.java.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.java.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.java.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFlight</display-name>
    <servlet-name>InsertFlight</servlet-name>
    <servlet-class>com.java.servlet.InsertFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFlight</servlet-name>
    <url-pattern>/InsertFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFlight</display-name>
    <servlet-name>UpdateFlight</servlet-name>
    <servlet-class>com.java.servlet.UpdateFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFlight</servlet-name>
    <url-pattern>/UpdateFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFlight</display-name>
    <servlet-name>DeleteFlight</servlet-name>
    <servlet-class>com.java.servlet.DeleteFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFlight</servlet-name>
    <url-pattern>/DeleteFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlights</display-name>
    <servlet-name>SearchFlights</servlet-name>
    <servlet-class>com.java.servlet.SearchFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlights</servlet-name>
    <url-pattern>/SearchFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFlights</display-name>
    <servlet-name>ShowFlights</servlet-name>
    <servlet-class>com.java.servlet.ShowFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFlights</servlet-name>
    <url-pattern>/ShowFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFlight</display-name>
    <servlet-name>ShowFlight</servlet-name>
    <servlet-class>com.java.servlet.ShowFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFlight</servlet-name>
    <url-pattern>/ShowFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.java.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.java.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
</web-app>